* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  padding: 10px;
}

.ToDoApp {
  width: 100%;
  max-width: 540px;
  margin: 100px auto 20px;
  background: white;
  border-radius: 10px;
  padding: 40px 30px;
}

header {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  padding-bottom: 20px;
}

footer {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}
