form {
  display: flex;
  background-color: lightpink;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
}

button {
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 16px 50px;
  cursor: pointer;
}
